.page
{
    background-color: transparent;
}
.link--decorated
{
    text-decoration-line: none;
    border-bottom: 3px #FFB800 solid;
    text-decoration-color: #FFB800 ;
    color: white;
}
.page__body
{
    background-color: black;
    background-size: 100% 100%;
    color:white;
}
.text--accent
{
    color: #FFB800
}
.text--large
{
    font-size: 25px;
}
header
{
    background-color: black;
    
    display: flex;
    flex-direction: row-reverse;
    max-width: 1440px;
    align-content: flex-start;
    height: 100%;
}

.header__menu
{
    display: flex;
    gap: 30px;
    width:100%;
    text-align: right;
    justify-content: end;
}
.link
{
    text-decoration: none;
    color: white;
}
main
{
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height:800px;

}
.hero
{
    display: flex;
    justify-content:center;
    align-items: center;
}
.hero__photo
{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.about__photo
{
    border-radius: 10%;
    width: 300px;
    object-fit: cover;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
}
.about
{
    /* background-size: 100% 100%; */
    background-color: #252525;
    width: 100%;
    display: grid;
    height:634px;
    grid-template-columns: [hero__photo] 40% [footer__link] 60%;
}
.about__skills
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 200px;
    grid-template-areas: 
    "about__skill--gamedev about__skill--python"
    "about__skill--cplus about__skill--csharp"
    "about__skill--arduino about__skill--arduino";
}
.PHOTOABOUT{grid-area: PHOTOABOUT;}
.about__skill--gamedev {grid-area: about__skill--gamedev;}
.about__skill--python {grid-area: about__skill--python;}
.about__skill--cplus {grid-area: about__skill--cplus;}
.about__skill--csharp {grid-area: about__skill--csharp;}
.about__skill--arduino 
{
    grid-area: about__skill--arduino;
    text-align: center;
}
.work
{
    background-color: black;
    height: 700px;
    display: grid;
    grid-template-columns: auto 200px 200px 200px 200px auto;
    grid-template-rows: 150px 150px 150px;
    gap: 50px;
    margin: 0 auto;
    max-width: 1440px;
    grid-template-areas: 
    "work__gap work__title work__title work__title work__title WorkGap2"
    "work__gap work__item--1 work__item--2 work__item--3 work__item--4 WorkGap2"
    "work__gap work__item--5 work__item--6 work__item--7 work__item--8 WorkGap2";   
}


.work__title
{
    text-align: center;
    height: 150px;
    grid-area: work__title;
    line-height: 150px;
}
.work__item--1 {
    grid-area: work__item--1;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
}
.work__item--2 
{
    grid-area: work__item--2;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
}
.work__item--3 
{
    grid-area: work__item--3;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
}
.work__item--4 
{
    grid-area: work__item--4;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
}
.work__item--5 
{
    grid-area: work__item--5;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
}
.work__item--6 
{
    grid-area: work__item--6;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
}
.work__item--7 
{
    grid-area: work__item--7;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
}
.work__item--8 
{
    color:black;
    grid-area: work__item--8;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
    text-align: center;
    line-height: 150px;
    font-size: 50px;
}
.work__gap
{
    width: 200px;
    grid-area: WorkGap;
}
.list__marker
{
    color: #FFB800;
    text-decoration-line: none;
}
.paragraph
{
    margin-block: 0px;
    margin-block-end: 0px;

}
.blog
{
    background-color: #252525;
    height:700px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 280px 280px 280px auto;
    grid-template-rows: 1fr 4fr;
    gap: 50px;
    padding: 0 auto;
    margin: 0 auto;
    grid-template-areas: 
    "blog__gap blog__title blog__title blog__title blog__gap"
    "blog__gap blog__item--1 blog__item--2 Blog3 blog__gap";   
}
.blog__title
{
    text-align: center;
    height: 50px;
    grid-area: blog__title;
    line-height: 50px;
    
}
.blog__gap
{
    width: 200px;
    grid-area: Bloggap;
}
.blog__gap
{
    width: 200px;
    grid-area: Bloggap;
}
.blog__item--1 
{
    grid-area: blog__item--1;
    width: 280px;
    height: 400px;
    border-radius: 10%;
    background-color:black;
    
}
.blog__item--2 {
    grid-area: blog__item--2;
    width: 280px;
    height: 400px;
    border-radius: 10%;
    background-color:black;
}
.Blog3 {
    grid-area: Blog3;
    width: 280px;
    height: 400px;
    border-radius: 10%;
    background-color:black;
}
.contact
{
    height: 700px;
    /* width: 1440px; */
    background-color: black;
    display: grid;
    grid-template-columns: auto 500px 500px auto;
    grid-template-rows: 1fr 4fr;
    gap: 50px;
    padding: 0 auto;
    margin: 0 auto;
    grid-template-areas: 
    "contact__title contact__title contact__title contact__title"
    "contact__gap contact__info contact__form contact__gap";   
}
.contact__title
{
    text-align: center;
    /* color: white; */
    height: 50px;
    grid-area: contact__title;
    line-height: 50px;
}
.contact__info 
{
    grid-area: contact__info;
    width: 500px;
    height: 400px;
    border-radius: 10%;
    background-color:black;    
}
.contact__section-title
{
color: #FFB800;
font-size: 50px;
margin:5px;

}
.contact__form
{
    grid-area: contact__form;
    width: 500px;
    height: 400px;
    border-radius: 10%;
    background-color:black;
}
.contact__gap
{
    width: 200px;
    grid-area: Contactgap;
}
.contact__gap
{
    width: 200px;
    grid-area: Contactgap;
}
.form__button
{
    background-color: #FFB800;
    width: 100px;
    height: 50px;
}
.form__input
{
    background-color: gray;
}
::placeholder
{
    color: #252525;
}
.footer__menu
{
    display: flex;
    padding-top: 30px;
    gap: 30px;
    width:100%;
    text-align: center;
    justify-content: center;
}
.footer__link
{
    text-decoration: none;
    color: black;
}
.footer__text
{
    font-size: 30px;
    margin: 5px;
}
footer
{
    text-align: center;
    height: 197px;
    width: 100%;
    background-color: #FFB800;
    color: black;
    text-decoration: none;
}
@media(max-width: 768px) 
{
    .header__menu
    {
        width: 90vw;
    }
    header
    {
        width: 90vw;
    }
    page__body
    {
        width: 100%;
    }
    .about__photo
    {
        width: 50vw;
        object-fit: cover;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 5vw;
    }
    .about
    {
        display: grid;

        height: auto; 

        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .about__skills
    {
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        grid-template-areas: 
        "PHOTOABOUT"
        "about__skill--gamedev" 
        "about__skill--python"
        "about__skill--cplus" 
        "about__skill--csharp"
        "about__skill--arduino";
        height: auto;
    }
    .about__skill--arduino
    {
        text-align: left;   
    }
    .work
    {
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto; /* Автоматические строки */
        grid-template-areas: 
            "work__title"
            "work__item--1"
            "work__item--2" 
            "work__item--3"
            "work__item--4"
            "work__item--5"
            "work__item--6"
            "work__item--7"
            "work__item--8";
        height: auto; /* Автоматическая высота на мобильных */
        gap: 20px;
        padding-left: 50%; /* Добавляем отступы */
        padding-right: 50%;
    }
    .blog
    {
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        padding: 20px;
        grid-template-areas: 
        "blog__title"
        "blog__item--1"
        "blog__item--2" 
        "Blog3";  
        height: auto; 
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
    .contact
    {
        height: auto;
        width: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 50px;
        padding: 0 auto;
        margin: 0 auto;
        grid-template-areas: 
        "contact__title"
        "contact__info"
        "contact__form";   
    }
    .contact__info 
    {
        grid-area: contact__info;
        width: 100%;
        height: auto;
        background-color:black;    
    }
    .footer__menu
    {
        display: flex;
        padding-top: 30px;
        gap: 30px;
        width:100%;
        text-align: center;
        justify-content: center;
    }
}
@media(min-width: 769px) and (max-width: 1024px) 
{
    .header__menu
    {
        width: 90vw;
    }
    header
    {
        width: 90vw;
    }
    page__body
    {
        width: 100%;
    }
    .about__photo
    {
        width: 50vw;
        object-fit: cover;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 5vw;
    }
    .about
    {
        display: grid;

        height: auto; 

        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .about__skills
    {
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        grid-template-areas: 
        "PHOTOABOUT"
        "about__skill--gamedev" 
        "about__skill--python"
        "about__skill--cplus" 
        "about__skill--csharp"
        "about__skill--arduino";
        height: auto;
    }
    .about__skill--arduino
    {
        text-align: left;   
    }
    .work
    {
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto; /* Автоматические строки */
        grid-template-areas: 
            "work__title work__title"
            "work__item--1 work__item--2" 
            "work__item--3 work__item--4"
            "work__item--5 work__item--6"
            "work__item--7 work__item--8";
        height: auto; /* Автоматическая высота на мобильных */
        gap: 20px;
        padding-left: 50%; /* Добавляем отступы */
        padding-right: 50%;
    }
    .blog
    {
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
        padding: 20px;
        grid-template-areas: 
        "blog__title blog__title"
        "blog__item--1 blog__item--2"
        "Blog3 Blog3";  
        height: auto; 
        width: 100%;
        max-width: 100%;
        margin: 0 0;
    }
    .contact
    {
        height: auto;
        width: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 50px;
        padding: 0 auto;
        margin: 0 auto;
        grid-template-areas: 
        "contact__title"
        "contact__info"
        "contact__form";   
    }
    .contact__info 
    {
        grid-area: contact__info;
        width: 100%;
        height: auto;
        background-color:black;    
    }
    .footer__menu
    {
        display: flex;
        padding-top: 30px;
        gap: 30px;
        width:100%;
        text-align: center;
        justify-content: center;
    }
}