.page
{
    background-color: transparent;
}
.link--decorated
{
    text-decoration-line: none;
    border-bottom: 3px #FFB800 solid;
    text-decoration-color: #FFB800 ;
    color: white;
}
.page__body
{
    background-color: black;
    background-size: 100% 100%;
    color:white;
}
.text--accent
{
    color: #FFB800
}
.text--large
{
    font-size: 25px;
}
header
{
    background-color: black;
    
    display: flex;
    flex-direction: row-reverse;
    max-width: 1440px;
    align-content: flex-start;
    height: 100%;
}

.header_menu
{
    display: flex;
    gap: 30px;
    width:100%;
    text-align: right;
    justify-content: end;
}
.link
{
    text-decoration: none;
    color: white;
}
main
{
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height:800px;

}
.hero
{
    display: flex;
    justify-content:center;
    align-items: center;
}
.hero__photo
{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.about__photo
{
    border-radius: 10%;
    width: 300px;
    object-fit: cover;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
}
.about
{
    /* background-size: 100% 100%; */
    background-color: #252525;
    width: 100%;
    display: grid;
    height:634px;
    grid-template-columns: [photo] 40% [text] 60%;
}
.about__skills
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 200px;
    grid-template-areas: 
    "GameDev Python"
    "Cplus CSharp"
    "Arduino Arduino";
}
.PHOTOABOUT{grid-area: PHOTOABOUT;}
.about__skill--gamedev {grid-area: GameDev;}
.about__skill--python {grid-area: Python;}
.about__skill--cplus {grid-area: Cplus;}
.about__skill--csharp {grid-area: CSharp;}
.about__skill--arduino 
{
    grid-area: Arduino;
    text-align: center;
}
/* .work__gap
{
    width: 200px;
    grid-area: WorkGap;
} */
.work
{
    justify-content: center;
    background-color: black;
    height: 700px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 150px 150px 150px;
    gap: 50px;
    margin: 0 auto;
    max-width: 1440px;
    grid-template-areas: 
    "Work Work Work Work"
    "Work1 Work2 Work3 Work4"
    "Work5 Work6 Work7 Work8";   
}


.work__title
{
    text-align: center;
    height: 150px;
    grid-area: Work;
    font-size: 25px;
    line-height: 150px;
}
.work__item--1 {
    grid-area: Work1;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
}
.work__item--2 
{
    grid-area: Work2;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
}
.work__item--3 
{
    grid-area: Work3;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
}
.work__item--4 
{
    grid-area: Work4;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
}
.work__item--5 
{
    grid-area: Work5;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
}
.work__item--6 
{
    grid-area: Work6;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
}
.work__item--7 
{
    grid-area: Work7;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
}
.work__item--8 
{
    color:black;
    grid-area: Work8;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
    text-align: center;
    line-height: 150px;
    font-size: 50px;
}

.list__marker::marker
{
    color: #FFB800;
}
.list__marker
{
    color: white;
    text-decoration-line: none;
}
.paragraph
{
    margin-block: 0px;
    margin-block-end: 0px;

}
.blog
{
    justify-content: center;
    background-color: #252525;
    height:700px;
    width: 100%;
    display: grid;
    grid-template-columns: 280px 280px 280px;
    grid-template-rows: 1fr 4fr;
    gap: 50px;
    padding: 0 auto;
    margin: 0 auto;
    grid-template-areas: 
    "Blog Blog Blog"
    "Blog1 Blog2 Blog3";   
}
.blog__title
{
    text-align: center;
    height: 50px;
    font-size: 25px;
    grid-area: Blog;
    line-height: 50px;
    
}
.blog__item--1 
{
    grid-area: Blog1;
    width: 280px;
    height: 400px;
    border-radius: 10%;
    background-color:black;
    
}
.blog__item--2 {
    grid-area: Blog2;
    width: 280px;
    height: 400px;
    border-radius: 10%;
    background-color:black;
}
.blog__item--3 {
    grid-area: Blog3;
    width: 280px;
    height: 400px;
    border-radius: 10%;
    background-color:black;
}
.contact
{
    height: 700px;
    justify-content: center;
    background-color: black;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 1fr 4fr;
    gap: 50px;
    padding: 0 auto;
    margin: 0 auto;
    grid-template-areas: 
    "Contact Contact"
    "ContactText ContactForm";   
}
.contact__title
{
    text-align: center;
    font-size: 25px;
    height: 50px;
    grid-area: Contact;
    line-height: 50px;
}
.contact__info 
{
    grid-area: ContactText;
    width: 500px;
    height: 400px;
    border-radius: 10%;
    background-color:black;    
}
.contact__section-title
{
color: #FFB800;
font-size: 50px;
margin:5px;

}
.contact__form
{
    grid-area: ContactForm;
    width: 500px;
    height: 400px;
    border-radius: 10%;
    background-color:black;
}
.form__button
{
    background-color: #FFB800;
    width: 100px;
    height: 50px;
}
.form__input
{
    background-color: gray;
}
::placeholder
{
    color: #252525;
}
.footer__menu-title
{
    display: flex;
    padding-top: 30px;
    gap: 30px;
    width:100%;
    text-align: center;
    justify-content: center;
}
.footer__link
{
    text-decoration: none;
    color: black;
}
.footer__text
{
    font-size: 30px;
    margin: 5px;
}
footer
{
    text-align: center;
    height: 197px;
    width: 100%;
    background-color: #FFB800;
    color: black;
    text-decoration: none;
}
@media(max-width: 768px) 
{
    .header_menu
    {
        width: 90vw;
    }
    header
    {
        width: 90vw;
    }
    .page__body
    {
        width: 100%;
    }
    .about__photo
    {
        width: 50vw;
        object-fit: cover;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 5vw;
    }
    .about
    {
        display: grid;

        height: auto; 

        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .about__skills
    {
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        grid-template-areas: 
        "PHOTOABOUT"
        "GameDev" 
        "Python"
        "Cplus" 
        "CSharp"
        "Arduino";
        height: auto;
    }
    .about__skill--arduino
    {
        text-align: left;   
    }
    .work
    {
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto; /* Автоматические строки */
        grid-template-areas: 
            "Work"
            "Work1"
            "Work2" 
            "Work3"
            "Work4"
            "Work5"
            "Work6"
            "Work7"
            "Work8";
        height: auto; /* Автоматическая высота на мобильных */
        gap: 20px;
        padding-left: 50%; /* Добавляем отступы */
        padding-right: 50%;
    }
    .blog
    {
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        padding: 20px;
        grid-template-areas: 
        "Blog"
        "Blog1"
        "Blog2" 
        "Blog3";  
        height: auto; 
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
    .contact
    {
        height: auto;
        width: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 50px;
        padding: 0 auto;
        margin: 0 auto;
        grid-template-areas: 
        "Contact"
        "ContactText"
        "ContactForm";   
    }
    .contact__info 
    {
        grid-area: ContactText;
        width: 100%;
        height: auto;
        background-color:black;    
    }
    .footer__menu-title
    {
        display: flex;
        padding-top: 30px;
        gap: 30px;
        width:100%;
        text-align: center;
        justify-content: center;
    }
}
@media(min-width: 769px) and (max-width: 1024px) 
{
    .header_menu
    {
        width: 90vw;
    }
    header
    {
        width: 90vw;
    }
    .page__body
    {
        width: 100%;
    }
    .about__photo
    {
        width: 50vw;
        object-fit: cover;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 5vw;
    }
    .about
    {
        display: grid;

        height: auto; 

        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .about__skills
    {
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        grid-template-areas: 
        "PHOTOABOUT"
        "GameDev" 
        "Python"
        "Cplus" 
        "CSharp"
        "Arduino";
        height: auto;
    }
    .about__skill--arduino
    {
        text-align: left;   
    }
    .work
    {
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto; /* Автоматические строки */
        grid-template-areas: 
            "Work Work"
            "Work1 Work2" 
            "Work3 Work4"
            "Work5 Work6"
            "Work7 Work8";
        height: auto; /* Автоматическая высота на мобильных */
        gap: 20px;
        padding-left: 50%; /* Добавляем отступы */
        padding-right: 50%;
    }
    .blog
    {
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
        padding: 20px;
        grid-template-areas: 
        "Blog Blog"
        "Blog1 Blog2"
        "Blog3 Blog3";  
        height: auto; 
        width: 100%;
        max-width: 100%;
        margin: 0 0;
    }
    .contact
    {
        height: auto;
        width: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 50px;
        padding: 0 auto;
        margin: 0 auto;
        grid-template-areas: 
        "Contact"
        "ContactText"
        "ContactForm";   
    }
    .contact__info 
    {
        grid-area: ContactText;
        width: 100%;
        height: auto;
        background-color:black;    
    }
    .footer__menu-title
    {
        display: flex;
        padding-top: 30px;
        gap: 30px;
        width:100%;
        text-align: center;
        justify-content: center;
    }
}
