
html
{
    background-color: transparent;
}
.decor
{
    text-decoration-line: none;
    border-bottom: 3px #FFB800 solid;
    text-decoration-color: #FFB800 ;
    color: white;
}
body
{
    background-color: black;
    background-size: 100% 100%;
    color:white;
    width:100%;
}
h1
{
    color: #FFB800
}
h4
{
    font-size: 25px;
}
header
{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center-start;
    height: auto;
}

.menu
{
    display: flex;
    gap: 10px;
    width:90vw;
    text-align: center;
}
.none_decor
{
    text-decoration: none;
    color: white;
}
main
{
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height:400px;

}
.photo_container
{
    display: flex;
    justify-content:center;
    align-items: center;
}
.photo
{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.PHOTO_ABOUT
{
    border-radius: 10%;
    width: 80vw;
    object-fit: cover;
    margin: 5vw auto;
}
.ABOUT
{
    background-color: #252525;
    width: 100%;
    display: grid;
    height:auto;
    padding: 20px;
    grid-template-columns: 1fr;
}
.Skills
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px ;
    grid-template-areas: 
    "PHOTOABOUT"
    "GameDev"
    "Python"
    "Cplus"
    "CSharp"
    "Arduino";
}
.PHOTOABOUT{grid-area: PHOTOABOUT;}
.GameDev {grid-area: GameDev;}
.Python {grid-area: Python;}
.Cplus {grid-area: Cplus;}
.CSharp {grid-area: CSharp;}
.Arduino 
{
    grid-area: Arduino;
    text-align: center;
}
.WORK
{
    background-color: black;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding:20px;
    grid-template-areas: 
    "Work"
    "Work1"
    "Work2" 
    "Work3"
    "Work4"
    "Work5"
    "Work6"
    "Work7"
    "Work8"; 
}


.Work
{
    text-align: center;
    height: 150px;
    grid-area: Work;
    line-height: 150px;
}
.Work1 {
    grid-area: Work1;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
}
.Work2 
{
    grid-area: Work2;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
}
.Work3 
{
    grid-area: Work3;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
}
.Work4 
{
    grid-area: Work4;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
}
.Work5 
{
    grid-area: Work5;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
}
.Work6 
{
    grid-area: Work6;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
}
.Work7 
{
    grid-area: Work7;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
}
.Work8 
{
    color:black;
    grid-area: Work8;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-color:gainsboro;
    text-align: center;
    line-height: 150px;
    font-size: 50px;
}
.WorkGap1
{
    width: 200px;
    grid-area: WorkGap;
}
ul li::marker
{
    color: #FFB800;
    text-decoration-line: none;
}
p
{
    margin-block: 0px;
    margin-block-end: 0px;

}
.BLOG
{
    background-color: #252525;
    height:auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    grid-template-areas: 
    "Blog"
    "Blog1"
    "Blog2" 
    "Blog3";     
}
.Blog
{
    text-align: center;
    height: 50px;
    grid-area: Blog;
    line-height: 50px;
    
}
.Bloggap1
{
    width: 200px;
    grid-area: Bloggap;
}
.Bloggap2
{
    width: 200px;
    grid-area: Bloggap;
}
.Blog1 
{
    grid-area: Blog1;
    width: 280px;
    height: 400px;
    border-radius: 10%;
    background-color:black;
    
}
.Blog2 {
    grid-area: Blog2;
    width: 280px;
    height: 400px;
    border-radius: 10%;
    background-color:black;
}
.Blog3 {
    grid-area: Blog3;
    width: 280px;
    height: 400px;
    border-radius: 10%;
    background-color:black;
}
.CONTACT
{
    height: auto;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    grid-template-areas: 
    "Contact"
    "ContactText"
    "ContactForm";      
}
.Contact
{
    text-align: center;
    height: 50px;
    grid-area: Contact;
    line-height: 50px;
}
.ContactText 
{
    grid-area: ContactText;
    width: 500px;
    height: 400px;
    border-radius: 10%;
    background-color:black;    
}
.contact_title
{
color: #FFB800;
font-size: 50px;
margin:5px;

}
.ContactForm
{
    grid-area: ContactForm;
    width: 500px;
    height: 400px;
    border-radius: 10%;
    background-color:black;
}
.Contactgap1
{
    width: 200px;
    grid-area: Contactgap;
}
.Contactgap2
{
    width: 200px;
    grid-area: Contactgap;
}
button
{
    background-color: #FFB800;
    width: 100px;
    height: 50px;
}
input
{
    background-color: gray;
}
::placeholder
{
    color: #252525;
}
.menu_f
{
    display: flex;
    padding-top: 30px;
    gap: 30px;
    width:100%;
    text-align: center;
    justify-content: center;
}
.text
{
    text-decoration: none;
    color: black;
}
.footer_text
{
    font-size: 30px;
    margin: 5px;
}
footer
{
    text-align: center;
    height: 197px;
    width: 100%;
    background-color: #FFB800;
    color: black;
    text-decoration: none;
}
@media(min-width: 769px) 
{
    .menu
    {
        flex-direction: row;
        gap: 30px;
        width: 100%;
        text-align: right;
        justify-content: end;
    }
    header
    {
        flex-direction: row-reverse;
        max-width: 100%;
    }
    .main
    {
        height: 600px;
    }
    .photo
    {
        width: 250px;
        height: 250px;
    }
    .WORK
    {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "Work Work"
            "Work1 Work2" 
            "Work3 Work4"
            "Work5 Work6"
            "Work7 Work8";
    }
    .BLOG
    {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "Blog Blog"
        "Blog1 Blog2"
        "Blog3 Blog3";
    }
    .Skills
    {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "GameDev Python"
        "Cplus CSharp"
        "Arduino Arduino";
    }
}
@media(min-width: 1025px)
{
    body
    {
        width: 1440px;
        margin:0 auto;
    }
    .main
    {
        height: 800px;
    }    
    .photo
    {
        width: 300px;
        height: 300px;
    }
    .ABOUT
    {
        height: 634px;
        grid-template-columns: [photo] 40% [text] 60%;
        padding: 0;
    }
    .PHOTO_ABOUT
    {
        width: 300px;
        margin: 90px 150 0 180;
    }
   .WORK 
    {
        grid-template-columns: auto 200px 200px 200px 200px auto;
        grid-template-rows: 150px 150px 150px;
        gap: 50px;
        height: 700px;
        grid-template-areas: 
        "WorkGap1 Work Work Work Work WorkGap2"
        "WorkGap1 Work1 Work2 Work3 Work4 WorkGap2"
        "WorkGap1 Work5 Work6 Work7 Work8 WorkGap2";
    }
    .BLOG 
    {
        grid-template-columns: auto 280px 280px 280px auto;
        grid-template-rows: 1fr 4fr;
        gap: 50px;
        height: 700px;
        grid-template-areas: 
        "Bloggap1 Blog Blog Blog Bloggap2"
        "Bloggap1 Blog1 Blog2 Blog3 Bloggap2";
    }
    .CONTACT 
    {
        grid-template-columns: auto 500px 500px auto;
        grid-template-rows: 1fr 4fr;
        gap: 50px;
        height: 700px;
        grid-template-areas: 
        "Contact Contact Contact Contact"
        "Contactgap1 ContactText ContactForm Contactgap2";
    }
}